/* selector {
    property: value;
} */

*{
    color: green;
}

li {
    color: blue;
}

li#special {
    color: pink;
}

.red {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 2px dashed red;
    background-color: yellow;
}

button:hover {
    color: red;
    background-color: beige;
}

a[href$=".com"] {
    color: purple;
}