/*
div, span {
    width: 80px;
    height: 80px;
    margin: 20px;
}display, position

div{
    background: red;
 }

span{
    background: blue;
    display: block;
}
*/

div {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background: red;
}

.container {
    background: yellow;
    left: 20px;
    top: 20px;
    position: relative;
}

.box {
    background: blue;
    left: 20px;
    top: 20px;
    position: sticky;
}